@charset "UTF-8";

body {
    background-color: rgb(106, 112, 106);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color:lightblue;
    background-color: rgb(205, 255, 208);
}

h2 {
    color:dimgrey;
}

p {
    text-align: justify;
}